.container {
  position: relative;

  overflow: hidden;
  display: inline-block;

  width: 100%;
  padding: 10px;

  background-color: #2d2d2d;
  border-radius: 8px;
}

.code {
  color: #abb2bf;
  word-break: break-word;
  white-space: pre-wrap;
}

.copy {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.icon:hover {
  color: #61d9a5;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
