.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.gradient {
  animation: gradient-shift 3s ease infinite;
  background: linear-gradient(
    90deg,
    #ff7eb3,
    #ff758c,
    #ff6a9d,
    #6a85e5,
    #45cafc,
    #61d9a5
  );
  background-clip: text;
  background-size: 200% 200%;
  color: transparent;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
