{
	# Global options block
	admin off # Disable the admin interface
	auto_https off # Disable automatic HTTPS in favor of your hosting managed SSL
	log file {
		output file /var/log/caddy/caddy.log {
			roll_local_time
			roll_size 10MiB
			roll_keep 10
		}
	}
	log console {
		output stdout
		format console
	}
}

:443 {
	route /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:3000
	}
	route /* {
		# Serve static files from the "build" directory (Vite's build output)
		root * packages/web/build/client
		# Handle SPA routing by rewriting all paths to index.html
		try_files {path} /index.html
		# Enable gzip and zstd compression
		encode gzip zstd
		# Static file serving
		file_server
	}

	# Cache static assets with long cache durations
	header Cache-Control "public, max-age=31536000, immutable"

	# Add security headers
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Content-Security-Policy "default-src 'self'; font-src 'self' https://cdn.jsdelivr.net; style-src 'self' https://cdn.jsdelivr.net 'unsafe-inline'; script-src 'self' https://cdn.jsdelivr.net https://*.posthog.com; script-src-elem 'self' 'unsafe-inline'; connect-src 'self' https://*.posthog.com; worker-src 'self' blob:; img-src 'self' data:;"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	# Logging
	log {
		output file /var/log/caddy/access.log
		format json
	}
}
