#root {
  background-color: #000;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  text-rendering: optimizelegibility;
  width: 100%;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background-color: #000;
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  #root,
  body {
    background-color: #fff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }
}

/* 
 Add your Global CSS classes here
*/

.gradient {
  animation: gradient-shift 3s ease infinite;
  background: linear-gradient(
    90deg,
    #ff7eb3,
    #ff758c,
    #ff6a9d,
    #6a85e5,
    #45cafc,
    #61d9a5
  );
  background-clip: text;
  background-size: 200% 200%;
  color: transparent;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
