.scrollContainer {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 100%;

  text-align: center;
}
.logoContainer {
  align-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.docsContainer {
  height: fit-content;
  padding-right: 10vw;
  padding-left: 10vw;

  font-family: monospace;
  text-align: left;
}

.logo {
  will-change: filter;

  width: 100px;
  height: 100px;
  padding: 1.5em;

  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.hono:hover {
  filter: drop-shadow(0 0 2em #c87b0eaa);
}

.logo.drizzle:hover {
  filter: drop-shadow(0 0 2em #c5f74f);
}

.logo.bun:hover {
  filter: drop-shadow(0 0 2em #eaeac2aa);
}

.logo.docker:hover {
  filter: drop-shadow(0 0 2em #0db7edaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.readTheDocs {
  color: #888;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .docsContainer {
    width: 80vw;
  }
}
