.scrollContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  text-align: center;
}
.logoContainer {
  align-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2em;
}

.docsContainer {
  width: 40vw;
  height: 100vh;

  font-family: monospace;
  text-align: justify;
  text-justify: inter-character;
}

.logo {
  will-change: filter;

  width: 100px;
  height: 100px;
  padding: 1.5em;

  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.bun:hover {
  filter: drop-shadow(0 0 2em #eaeac2aa);
}

.logo.hono:hover {
  filter: drop-shadow(0 0 2em #c87b0eaa);
}

.logo.lefthook:hover {
  filter: drop-shadow(0 0 2em #d91515aa);
}

.logo.docker:hover {
  filter: drop-shadow(0 0 2em #0db7edaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.readTheDocs {
  color: #888;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 600px) {
  .docsContainer {
    width: 80vw;
  }
}
