.container {
  display: flex;
  align-self: center;

  width: 20vw;
  margin: 10px;
  padding: 10px;

  background-color: #2d2d2d;
  border-radius: 8px;
}

.code {
  flex-basis: 100%;
  word-break: break-word;
  white-space: pre-wrap;
}

.copy {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80vw;
  }
}
